<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../visor-usuario/visor-usuario.html">

<dom-module id="user-dashboard">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Soy el dashboard</h1>
    <iron-pages selected="[[componentName]]" attr-for-selected="component-name">
      <div component-name="login"><login-usuario on-login="processEvent"></login-usuario></div>
      <div component-name="visor"><visor-usuario id="receiver"></visor-usuario></div>
    </iron-pages>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserDashboard extends Polymer.Element {
      static get is() { return 'user-dashboard'; }
      static get properties() {
        return {
          componentName:{
            type: String,
            value: "login"
          }
        };
      }
      processEvent(e){
        console.log("Capturado evento del login");
        console.log(e.detail);
        console.log(e);
        this.$.receiver.userid = e.detail.id;
        //this.$.receiver.course = e.detail.year; //pongo el $ xq está en el dom local, si no lo busca fuera.
        this.componentName = "visor";

      }
    } //Cierra el class

    window.customElements.define(UserDashboard.is, UserDashboard);
  </script>
</dom-module>
