<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="receptor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Soy el receptor</h2>
    <h3>Este curso es el [[course]] </h3>
    <h3>y estamos en el año [[year]]</h3>
    <input type= "text" value="{{course::input}}"></input>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ReceptorEvento extends Polymer.Element {
      static get is() { return 'receptor-evento'; }
      static get properties() {
        return {
          course: {
            type: String,
            observer: "_courseCganged"
          }, year: {
            type: String
          }
        };
      }
      _courseCganged(newValue, oldValue){
        console.log("Course value has changed");
        console.log("Old value was " + oldValue);
        console.log("New value was " + newValue);
      }

    } //Cierra el class

    window.customElements.define(ReceptorEvento.is, ReceptorEvento);
  </script>
</dom-module>
