<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="visor-cuentas">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>
  <h1>Listado de cuentas:</h1>
    <!-- <h3>Iban {{iban}} saldo {{balance}}</h3> -->
  <table class="table table-striped">
    <thead>
      <th scope="col">IBAN</th>
      <th scope="col">Saldo</th>
    </thead>
    <tbody>
      <template is="dom-repeat" items="{{accounts}}">
        <tr>
          <td>{{item.IBAN}}</td>
          <td>{{item.balance}}</td>
        </tr>
      </template>
    <tbody>
  </table>
    <iron-ajax
      id="getAccountsByUserId"
      url="http://localhost:3000/apitechu/v2/accounts/{{accountuserid}}"
      handle-as="json"
      on-response="showData"
    >
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          accounts:{
            type: Array
          },accountuserid:{
            type: String,
            observer: "_accountuseridChanged"
          }
        };
          /*iban: {
            type: String
          }, balance: {
              type: Number
          }, userid: {
            type: String
          }
        };*/
      }
      showData(data){
        console.log("ha llegado respuesta")
        console.log(data.detail.response[0].userId)
        console.log(data.detail.response[0].IBAN)
        console.log(data.detail.response[0].balance)
        this.accounts = data.detail.response
        //this.iban =data.detail.response[0].IBAN
        //this.balance=data.detail.response[0].balance
      }
      _accountuseridChanged(newValue, oldValue){
        console.log("Course value has changed");
        console.log("Old value was " + oldValue);
        console.log("New value was " + newValue);
        this.$.getAccountsByUserId.generateRequest();
      }
    } //Cierra el class

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
