<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="emisor-evento">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <h2>Soy el emisor</h2>
   <button on-click="sendEvent">No pulsar</button>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class EmisorEvento extends Polymer.Element {
     static get is() { return 'emisor-evento'; }
     static get properties() {
       return {
       };
     }

     sendEvent(e) {
       console.log("Pulsado el botón");
       console.log(e);

       this.dispatchEvent(
         new CustomEvent(
           "myevent",  //parametro 1, solo minuscalas y sin cararteres raros
           {  //parametro 2
             "detail" : { //es un object, es el payload
               "course": "TechU",
               "year": 2019
             }
           }
         )
       )

     }
   } // Close class

   window.customElements.define(EmisorEvento.is, EmisorEvento);
 </script>
</dom-module>
