<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
      [hidden] {
      display: none !important;
    }
    </style>
    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h3>y mi email es [[email]]</h3>
    <button hidden$ ="{{!user_ok}}" on-click="getAccounts">Obtener cuentas</button>
    <visor-cuentas hidden$ ="[[ocultarvisor]]" id="visor"></visor-cuentas>
      <!-- <visor-cuentas id="visor"></visor-cuentas>-->

    <iron-ajax
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{userid}}"
      handle-as="json"
      on-response="showData"
    >
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
              type: String
          }, email: {
            type: String
          }, userid: {
            type: Number,
            observer: "_useridChanged"
          }, user_ok:{
            type: Boolean,
            value: false
          }, accountuserid:{
              type: String,
          }, ocultarvisor: {
            type: Boolean,
            value: true
          }
        };
      }
      showData(data){
        console.log("ha llegado respuesta")
        console.log(data.detail.response.first_name)
        console.log(data.detail.response.last_name)
        console.log(data.detail.response.email)
        this.first_name = data.detail.response.first_name
        this.last_name=data.detail.response.last_name
        this.email=data.detail.response.email
        this.user_ok = true;
      }
      _useridChanged(newValue, oldValue){
        this.$.getUser.generateRequest();
      }
      getAccounts(){
          this.$.visor.accountuserid = this.userid;
          this.ocultarvisor = false;
        console.log("Id de la cuenta: " + this.userid)
      }

    } //Cierra el class

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
